.card {
  width: 20%;
  margin: 15px 5px;
  padding: 15px;
  box-shadow: 0 1px 6px 0 $divider-color;

  &__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &__view-details {
      color: $primary-color-dark;
      @include resetButton();
    }
  }

  &__body {
    h1 {
      margin: 5px 0 10px 0;
      font-size: 16px;
      word-break: break-all;
      color: $primary-text-color;
    }

    p {
      margin: 0;
      color: $secondary-text-color;
    }
  }
}
