.menu-sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  background-color: $primary-color;
  &__logo {
    text-align: center;
    background-color: $primary-color-dark;
    img {
      width: 75%;
    }
  }
  &__options {
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    color: $primary-color-text;
  }
  &__options li {
    padding: 20px;
    &:hover {
      background-color: $primary-color-dark;
    }
  }
}
